{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% block content %}
<div class="row">
    <div class="col-sm-12 mb-3">
       <h4 class="text-center mb-4"> Welcome {{ vk_user.first_name}} {{vk_user.last_name}} </h4>

        <div class="row">
            {% for ass in backends.associated %}
              {% if ass.provider == 'vk-oauth2' %}
                <div class="col-md-6 text-center">
                    <img class="mt-4" src="{{ vk_user.photo_max }}" alt="" width="150" height="150" style="border-radius: 50%">
                </div>
                <div class="col-md-6 social-container my-2">
                    <p> Signed in via:  {{ ass.provider }} </p>
                    <p> Count friends:  {{ vk_user.counters.friends }} </p>
                    <p> Provider url: <a href="{{ass.extra_data.profile_url}}">link</a></p>
                    <button class="btn btn-secondary">
                        <a href="{% url 'logout_user' %}">Logout</a>
                    </button>
                </div>
              {% endif %}
            {% endfor %}
        </div>

        <div class="row mt-5">
            <form class="form-inline mx-sm-4 mb-1" action="{% url 'search' %}" method="GET">
            <div class="form-group mx-sm-4 mb-1">
                <input id="search" type="text" name="name" value="{{ request.name }}" class="form-control" placeholder="Friends Name" />
            </div>
            <button type="submit" value="Search" class="btn btn-primary mb-1">Search</button>
            <div class="ml-3">
                {% if friends_by_name %}
                    {% for friend in friends_by_name %}
                        <p class="mx-4"> - {{ friend.first_name }} {{ friend.last_name }}</p>
                    {% endfor %}
                {% else %}
                    <p class="mx-4"> No friends by this name </p>
                {% endif %}
            </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}