{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% block content %}
<div class="row">
    <div class="col-sm-12 mb-3">
       <h4 class="text-center mb-4"> Welcome {{ user.first_name}} {{user.last_name}} </h4>

        <!-- Add from here -->
        <div class="row">
            {% for ass in backends.associated %}
              {% if ass.provider == 'vk-oauth2' %}
                <div class="col-md-6 text-center">
                    <img class="mt-4" src="{{ vk_user.user_photo }}" alt="" width="150" height="150" style="border-radius: 50%">
                </div>
                <div class="col-md-6 social-container my-2">
                    <p> Signed in via:  {{ ass.provider }} </p>
{#                    <p> Name:  {{ vk_user.first_name }} </p>#}
                    <p> Count friends:  {{ vk_user.count_friends }} </p>
                    <p> Provider url: <a href="{{ass.extra_data.profile_url}}">link</a></p>
                    <button class="btn btn-secondary">
                        <a href="{% url 'logout' %}">Logout</a>
                    </button>
                </div>
              {% endif %}
            {% endfor %}
        </div>
        <div class="row mt-5">
            <form class="form-inline mx-sm-4 mb-1" action="{% url 'search' %}" method="GET">
            <div class="form-group mx-sm-4 mb-1">
                <input id="search" type="text" name="name" value="{{ request.name }}" class="form-control" placeholder="Friends Name" />
            </div>
            <button type="submit" value="Search" class="btn btn-primary mb-1">Search</button>
            <div>
                {% for friend in friends_by_name %}
                    {% if friends_by_name %}
                        <p> - {{ friend.first_name }} {{friend.last_name }} {{ friend.id }}</p>
                    {% else %}
                        <p> No friends by this name </p>
                    {% endif %}
                {% endfor %}
            </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}